@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model OutputEmployees
<h1>UploadCSV</h1>

<form asp-controller="UploadCSV" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" />
    <input type="submit" value="Import" />
</form>
@if (Model != null)
{
    <hr />
    <table class ="table">
        <tr>
            <th>
                Employee ID #1
            </th>
            <th>
                Employee ID #2
            </th>
            <th>
                Project ID
            </th>
            <th>
                Days Worked
            </th>
        </tr>
        
        @foreach (var entry in @Model.Projects)
        {            
            <tr>
                <td>
                    @Model.EmployeeId1
                </td>
                <td>
                    @Model.EmployeeId2
                </td>
                <td>
                    @entry.Key
                </td>
                <td>
                    @entry.Value
                </td>
            </tr>
        }
    </table>
}